{% extends 'base.html' %}

{% block title %}Create Profile{% endblock %}


{% block content %}


<div class="container mx-auto" style="padding-left: 20%; padding-right: 20%;">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="container">
            <h3>TheSalary | Create Profile</h3>
            <hr>
        </div>
        <div class="form-floating mb-3 text-center">
            {{ form.industry }}
            <label for="id_username">Industry</label>
        </div>


        <div class="form-floating mb-3 text-center">
            {{ form.degree_program }}
            <label for="id_degree_program">Degree Program</label>
        </div>

        


        <div class="form-floating mb-3 text-center">
            {{ form.position }}
            <label for="id_username">Position</label>
        </div>

        <div class="row">
            <div class="col-lg-6 form-floating mb-3 text-center">
                {{ form.civil_status }}
                <label for="id_civil_status">Civil Status</label>
            </div>

            <div class="col-lg-6 form-floating mb-3 text-center">
                {{ form.gender }}
                <label for="id_gender">Gender</label>
            </div>
        </div>




        <div class="form-floating mb-3 text-center">
            {{ form.location }}
            <label for="id_username">Location</label>
        </div>
        <div class="form-floating mb-3 text-center">
            {{ form.yoe }}
            <label for="id_username">Years of Experience</label>
        </div>




        <div class="form-floating mb-3 text-center">
            {{ form.tool_1 }}
            <label for="id_username">Skill 1</label>
        </div>
        <div class="form-floating mb-3 text-center">
            {{ form.tool_2 }}
            <label for="id_username">Skill 2</label>
        </div>
        <div class="form-floating mb-3 text-center">
            {{ form.tool_3 }}
            <label for="id_username">Skill 3</label>
        </div>

        <div class="form-floating mb-3 text-center">
            {{ form.salary }}
            <label for="id_username">Salary</label>
        </div>
        

       

        <input type="submit" class="btn col-12 btn-outline-dark mb-5" value="Submit">
    </form>
</div>
{% endblock %}