{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}


<div class="container mx-auto" style="padding-right: 10%; padding-left: 10%; padding-top: 40px;">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">USER IMAGE</text>
            </svg>

        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">@{{user.username}}</h3>
            <strong class="d-inline-block mb-2 text-primary">{{user.email}} || Php {{user.userprofile.salary}} / month</strong>
            <hr>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">Position: {{user.userprofile.position}}</p>
            <p class="card-text mb-auto">Year/s of experience: {{user.userprofile.yoe}}</p>
            <p class="card-text mb-auto">Location: {{user.userprofile.location}}</p>
            <a class="btn btn-outline-dark" href="{% url 'account:userprofile_update' %}">Edit Profile</a>
        </div>
    </div>

</div>

{% endblock %}