{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}


<div class="container mx-auto" style="padding-right: 10%; padding-left: 10%; padding-top: 40px;">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-3 d-lg-block">
            <img class="image-fluid mx-auto d-block py-5" style="width: 200px; height: auto;" src="{{user.profile_picture.url}}" alt="Image">
        </div>
        <div class="col-9 p-4 d-flex flex-column position-static text-dark">
            <h3 class="mb-0">@{{user.username}}</h3>
            <strong class="d-inline-block mb-2 text-primary text-dark">{{user.email}} || Php {{user.userprofile.salary}} / month</strong>
            <hr>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">Position: {{user.userprofile.position}}</p>
            <p class="card-text mb-auto">Year/s of experience: {{user.userprofile.yoe}}</p>
            <p class="card-text mb-auto">Location: {{user.userprofile.location}}</p>
            
            {% if request.user.userprofile%}
            <a class="btn btn-outline-dark mt-4 mb-1 col-6" href="{% url 'account:userprofile_update' %}">Edit Profile</a>
            {% else %}
            <a class="btn btn-outline-dark mt-4 mb-1 col-6" href="{% url 'account:userprofile_create' %}">Create Profile</a>
            {% endif %}
            <a class="btn btn-outline-dark col-6" href="{% url 'account:update_custom_user' %}">User</a>
        </div>
    </div>
    <div class="container pt-5">
        <h2>Blog Posted</h2>
        <hr>
        {% for blog in blogs %}
            <div class="container m-4 p-4" style="border: solid rgb(199, 199, 199) 1px; border-radius: 5px;">
                <h4>{{blog.title}}</h4>
                <h5>{{blog.industry}} || {{blog.created_at}}</h5>
                <hr>
                <p>{{blog.blog}}</p>
                <div class="text-end">
                    <a href="{% url 'blog:update_blog' blog.id %}" class="btn btn-outline-dark">Edit</a>
                    <a href="" class="btn btn-outline-dark">View</a>
                    <a href="{% url 'blog:delete_blog' blog.id %}" class="btn btn-outline-dark">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}