{% extends 'base.html' %}

{% block title %}Industries{% endblock %}
{% load static %}

{% block content %}
<div class="container pb-5 mt-5 mb-5">
    <div class="container row ">
        <div class="col-8">
            <h1>Industries</h1>
        </div>
        <div class="col-4">
            <a href="{% url 'blog:create_blog' %}" class="btn btn-outline-dark col-12">Create Blog</a>
        </div>
        <hr>
    </div>
    <div class="row">
    <div class="col-9">
        {% for industry in industries %}
    
    <div class="p-4 pb-3 mt-4 text-white rounded-3" style="background-color: rgb(19, 19, 19);">
        <h2>{{industry}} Industry</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Consequuntur facere amet recusandae velit voluptas minima commodi 
            reiciendis corporis, vitae facilis porro reprehenderit vel maxime! 
            Natus ratione iste possimus architecto omnis.</p>
        <div class="row pt-3">
            <div class="col-6">
                <a class="btn btn-outline-light col-6" href="{% url 'blog:industry' industry.id %}">Learn More</a>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-outline-light col-5" type="button">Job Board</button>
            </div>
        </div>
    </div>
    {% endfor %}    
    </div>

    <div class="col-3">
        <div class=" mt-3" style="background-color: white; border: solid rgb(43, 43, 43) 1px; border-radius: 15px;">
            <img src="{% static 'images/naruto_1.jpeg' %}" style="width: 100%; border-top-left-radius: 15px; border-top-right-radius: 15px;" alt="">
            <img src="{% static 'images/naruto_1.jpeg' %}" style="width: 100%; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" alt="">
        </div>
    </div>
</div>


</div>

{% endblock %}