{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container ">
    <p>***TODO: Arrange all the user's job base on their salary, location, and industry.</p>
    <hr>
    <hr>

    <div class="row mb-5 text-center py-3 bg-dark text-white" style="height: 80vh; border-radius: 15px;">
        <div class="col-4">
            <h5>Industry</h5>
            <hr>
        </div>
        <div class="col-4">
            <h5>Salary</h5>
            <hr>
        </div>
        <div class="col-4">
            <h5>Location</h5>
            <hr>
        </div>
    </div>
</div>
{% endblock %}