{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-9 pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-end">The Salary</h1>
        <p class="fs-5 text-muted text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, reprehenderit non minima in praesentium perspiciatis suscipit facilis velit et sit consequuntur aspernatur necessitatibus unde vel rerum saepe voluptates recusandae quae!</p>
    </div>
    <div class="col-3 mb-3 py-2">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
          </form>
    </div>
</div>
{% endblock %}