{% extends 'base.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}
<div class="container col-xl-10 col-xxl-8">

  <div class="row align-items-center g-lg-5">

    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1">The Salary</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quas earum, ut impedit
        accusantium temporibus rerum fuga distinctio aliquam iste quis ipsum unde qui, consequatur veniam nesciunt nam,
        laudantium dolore!\</p>
    </div>

    {% if user.is_authenticated %}
    {% if query in id_list %}
    {% if user.is_anonymous %}
    <div class="col-md-10 mx-auto col-lg-5 text-center">
      <div class="p-4 p-md-3 mt-2" style="background-color: white; border: solid grey 1px; border-radius: 5px;">
        <h6>@{{request.user.username}} Anonymous</h6>
        <h6>{{request.user.userprofile.position}} || {{request.user.userprofile.yoe}} ||
          {{request.user.userprofile.location}}</h6>
        <h6>{{request.user.userprofile.tool_1}} || {{request.user.userprofile.tool_2}} ||
          {{request.user.userprofile.tool_3}}</h6>
      </div>
    </div>
    {% else %}
    <div class="col-md-10 mx-auto col-lg-5 text-center">
      <div class="p-4 p-md-3 mt-2" style="background-color: white; border: solid grey 1px; border-radius: 5px;">
        <h6>@{{request.user.username}}</h6>
        <h6>{{request.user.userprofile.position}} || {{request.user.userprofile.yoe}} ||
          {{request.user.userprofile.location}}</h6>
        <h6>{{request.user.userprofile.tool_1}} || {{request.user.userprofile.tool_2}} ||
          {{request.user.userprofile.tool_3}}</h6>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="col-md-10 mx-auto col-lg-5 text-center">
      <div class="p-4 p-md-3 mt-2 border rounded-3 bg-light">
        <div class="mb-3 mt-2">
          <a class="w-100 btn btn-md btn-outline-dark" href="{% url 'account:userprofile_create' %}">Share Salary
            Info</a>
        </div>
        <div class="mb-3">
          <button class="w-100 btn btn-md btn-outline-dark">Recruitment Post</button>
        </div>

      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="col-md-10 mx-auto col-lg-5 text-center">
      <div class="p-4 p-md-3 mt-2 border rounded-3 bg-light">
        <div class="mb-3 mt-2">
          <a class="w-100 btn btn-md btn-outline-dark" href="{% url 'account:user_login' %}">Share Salary Info</a>
        </div>
        <div class="mb-3">
          <button class="w-100 btn btn-md btn-outline-dark">Recruitment Post</button>
        </div>

      </div>
    </div>

    {% endif %}




  </div>

  <div>
    <hr>
  </div>

  <div class="row">
    <div class="col-lg-9">
      {% for item in list %}
      <div>
        <hr>
        <div class="row">
          <div class="col-2">
            <img src="{% static 'images/user.png' %}" style="width: 80%; position: relative; left: 30px;" alt="">
          </div>
          <div class="col-10">
            
            <a href="{% url 'salary:salary_post_detail' item.id %}" class="text-decoration-none text-dark">
              <h6>@{{item.user.username}}</h6>
            </a>
            <h6>{{item.position}} || Php {{item.salary}}/month|| {{item.yoe}}-YoE || {{item.location}}</h6>
            <h6>{{item.tool_1}} || {{item.tool_2}} || {{item.tool_3}}</h6>
            
          </div>
        </div>
      </div>
      <hr>
      {% endfor %}
    </div>
    <div class="contaier col-lg-3">
      <div class=" mt-3" style="background-color: white; border: solid grey 1px; border-radius: 10px; height: 70%;">
        <img src="{% static 'images/acn.jpeg' %}" style="width: 100%; border-radius: 15px;" alt="">
      </div>
    </div>
  </div>


</div>
{% endblock %}