{% extends 'base.html' %}

{% block title %}theSalary{% endblock %}


{% block content %}
<div class="container col-xl-10 col-xxl-8" style="padding-top: 70px;">

  <div class="row align-items-center g-lg-5">


    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-3 fw-bold lh-4">theSalary</h1>
      <hr>
      <p style="text-indent: 30px;">A web-based community where users can create an account and 
        share their salary, position, years of experience, niche, and other relevant info, anonymously.</p>
      <p style="text-indent: 30px;">
        Guide students, young and experienced professionals on choosing their career path. To build a community 
        where mentors can be found and can be reached, also, a community that provides ideas and advice in life.
      </p>
    </div>


    <div class="col-md-10 mx-auto col-lg-5">

      <form class="p-4 p-md-3 border rounded-3 bg-light" method="POST" autocomplete="off">

        {% csrf_token %}

        <div class="form-floating mb-3">
          <input type="email" id="id_username" name="username" class="form-control" placeholder="Email" >
          <label for="id_username">Email Address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" id="id_password" name="password" class="form-control" placeholder="Password">
          <label for="id_password">Password</label>
        </div>


        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="text-center pb-2">
          <small class="text-muted">Don't have an account yet?<a class="text-decoration-none text-dark" href="{% url 'account:signup_view' %}">SignUp</a></small>
        </div>
        <div class="text-center pb-2">
          <small class="text-muted "><a href="{% url 'account:reset-password' %}" class="text-decoration-none text-dark">forgot password</a></small>
        </div>
        <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Log In</button>
        <hr class="">
        <div class="text-center">
          <small class="text-muted">TheSalary.com</small>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}