{% extends 'base.html' %}

{% block title %}The Salary{% endblock %}


{% block content %}
<div class="container col-xl-10 col-xxl-8">

  <div class="row align-items-center g-lg-5">


    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1">The Salary</h1>
      <p class="col-lg-10 fs-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quas earum, ut impedit accusantium temporibus rerum fuga distinctio aliquam iste quis ipsum unde qui, consequatur veniam nesciunt nam, laudantium dolore!\</p>
    </div>


    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-3 border rounded-3 bg-light">
        <div class="form-floating mb-3  ">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Log In</button>
        <hr class="">
        <div class="text-center">
          <small class="text-muted">TheSalary.com</small>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}