{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block content %}


<div class="container mb-3 mt-3" style="width: 500px;">

  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="container">
      <h3>TheSalary | SignUp</h3>
      <hr>
    </div>
    <div class="form-floating mb-3 text-center">
      {{ form.username }}
      <label for="id_username">Username</label>
    </div>

    <div class="form-floating mb-3">
      {{ form.email }}
      <label for="id_email">Email Address</label>
    </div>

    <div class="row">
      <div class="form-floating col-lg-6 mb-3">
        {{ form.first_name }}
        <label for="id_username" style="margin-left: 10px">First Name</label>
      </div>
      <div class="form-floating col-lg-6 mb-3">
        {{ form.last_name }}
        <label for="id_username" style="margin-left: 10px">Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="form-check form-switch mb-3 mx-3">
        <input class="form-check-input" type="checkbox" role="switch" id="id_is_recruiter" name="is_recruiter" checked>
  
        <label class="form-check-label" for="id_is_recruiter">Recruiter Status</label>
  
      </div>
      <div class="form-check form-switch mb-3 mx-3">
        <input class="form-check-input" type="checkbox" role="switch" id="id_is_common_user" name="is_common_user" checked>
  
        <label class="form-check-label" for="id_is_common_user">User</label>
  
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="password" id="id_password1" name="password1" class="form-control" placeholder="Password">
      <label for="id_password1">{{form.password1.label}}</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" id="id_password2" name="password2" class="form-control" placeholder="Confirm Password">
      <label for="id_password2">Re-enter Password</label>
    </div>
    <button class="btn btn-outline-dark col-12">SignUp</button>

  </form>
  <div class="text-center pt-2 pb-5">
    <small class="text-muted">Already have an account?<a class="text-decoration-none text-dark"
        href="{% url 'account:user_login' %}">Login</a></small>
  </div>
</div>



{% endblock %}