{% extends 'base.html' %}

{% block title %}Job Board{% endblock %}


{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-8">
            <a href="{% url 'salary:job_board_page' %}" class="text-decoration-none text-dark"><h2>Job Board</h2></a>
        </div>
        <div class=" col-4 pt-3 text-end">
            <a class="text-decoration-none text-dark" href="{% url 'salary:job-create' %}"><strong>Post a Job</strong></a>
        </div>
        <hr>
    </div>
    
    
    <div class="row">
        <div class="col-2 mt-3" style="border: rgb(189, 189, 189) solid 1px; border-radius: 10px;">
            <ul class="nav flex-column">
                {% for industry in industries %}
            <li class="nav-item"><a href="{% url 'salary:industry_job_board' industry.id %}" class=" nav-link text-decoration-none text-dark">{{industry}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-10">
            <div class="row mb-2 mt-3">
                {% for job in jobs %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">{{job.industry}}</strong>
                            <h3 class="mb-0">{{job.job_name}}</h3>
                            <div class="mb-1 text-muted">Php {{job.pay}} / month</div>
                            <p class="card-text mb-auto">{{job.description}}</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em"></text>
                            </svg>
        
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}


